<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Pungent - a topical pun generator</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
      <div class="container">
        <a class="navbar-brand" href="/">Pungent</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/About">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://docs.google.com/presentation/d/1i21qBVcTxdMCzHez6EfasykpWv7ExcR6PXJ6z7_NpO4/edit?usp=sharing">Slides</a>
            </li>

        </div>
      </div>
    </nav>
    <!-- Page Content -->

<div class="col-xs-12" style="height:10px;"></div>

   <h1 class="text-center" >Pick your favorite pun</h1>
    <h2 class="text-center" >Input sentence: {{input_sentence}}</h2>


<div class="container">

<!-- <form action='/index' method="GET"> -->

  <!-- Need to have 6 post forms -->
<!-- input type hidden -->
<!-- checkbox with one submit button -->

<form method="post">

<div class="form-check">
  <input class="form-check-input" type="radio" name="pun_selection" id="B0" value="0" checked>
  <label class="form-check-label" for="B0" style="font-size: 25px">
    {{output_sentence[0]|safe}}
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="pun_selection" id="B1" value="1" checked>
  <label class="form-check-label" for="b1" style="font-size: 25px">
    {{output_sentence[1]|safe}}
  </label>
</div>

<div class="form-check">
  <input class="form-check-input" type="radio" name="pun_selection" id="B2" value="2" checked>
  <label class="form-check-label" for="B2" style="font-size: 25px">
    {{output_sentence[2]|safe}}
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="pun_selection" id="B3" value="3" checked>
  <label class="form-check-label" for="B3" style="font-size: 25px">
    {{output_sentence[3]|safe}}
  </label>
</div>
<div class="form-check">
  <input class="form-check-input" type="radio" name="pun_selection" id="B4" value="4" checked>
  <label class="form-check-label" for="B4" style="font-size: 25px">
    {{output_sentence[4]|safe}}
  </label>
</div>


<div class="form-check">
  <input class="form-check-input" type="radio" name="pun_selection" id="Bnone" value="None" checked>
  <label class="form-check-label" for="Bnone" style="font-size: 25px">
    I don't like any of these!
  </label>
</div>

<p><input class="btn btn-outline-secondary" type=submit value=DONE!></p>

</form>


<h4 class="text-left" >Pungent works by extracting topical words. Here are the words it considered for you!</h4>

{% for m in considered_words %}
<span class="badge badge-primary">{{m}}</span>
{% endfor %}





      <!-- Bootstrap core JavaScript -->
      <script src="vendor/jquery/jquery.min.js"></script>
      <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    </body>
  </html>
  <!-- well-sm -->
